.promotion-detail {
  font-family: "Arial", sans-serif;
  padding: 20px;
  min-height: 100vh;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.promotion-detail h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.promotion-detail .promotion-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto 20px auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.promotion-detail .promotion-description {
  font-size: 24px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.promotion-detail .promotion-startdate,
.promotion-detail .promotion-enddate {
  font-size: 24px;
  color: #aa2d00;
  margin-bottom: 15px;
  font-weight: bold;
}

.promotion-detail .promotion-code {
  font-size: 24px;
  color: #004b64;
  margin-bottom: 15px;
  font-style: italic;
}
