.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.success-message {
    color: #14e12f;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.forgot-password-box {
    width: 400px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgot-password-box h2 {
    font-size: 24px;
    color: #35737d;
    text-align: center;
    margin-bottom: 10px;
}

.forgot-password-box label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.forgot-password-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-box .reset-btn {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #35737d;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px 70px 0px 90px;
}

.reset-btn:hover {
    background-color: #043c38;
    color: #fff;
}

.login-btn{
    width: 95%;
    padding: 10px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
}

.login-btn:hover{
    color: #76abe3;
}

