.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.success-message {
  color: #14e12f;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.forgot-password-box {
  width: 500px;
  padding: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.forgot-password-box h2 {
  font-size: 40px;
  color: #35737d;
  text-align: center;
  margin-bottom: 10px;
}

.forgot-password-box label {
  margin-top: 30px;
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 5px;
  display: block;
}

.forgot-password-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 40px;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container .reset-btn {
  width: 200px;
  padding: 10px;
  background-color: #116169;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.reset-btn:hover {
  background-color: #1e7f8b;
  color: #fff;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: #116169;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.login-btn:hover {
  color: #1e7f8b;
  text-decoration: underline;
}
