.password-input-container input[type="password"]::-ms-reveal,
.password-input-container input[type="password"]::-ms-clear,
.password-input-container input[type="password"]::-webkit-clear-button,
.password-input-container input[type="password"]::-webkit-reveal-button {
  display: none; /* Ẩn icon mặc định */
}

.login-container {
  display: flex;
  width: 1000px;
  height: 550px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  overflow: hidden;
  margin: auto; /* Đảm bảo căn giữa */
  margin-top: 40px;
  margin-bottom: 50px;
}

.login-box {
  flex: 1;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  color: #35737d;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.login-form-label {
  font-size: 1.1rem;
  color: #666;
  font-weight: bold;
}

.login-form-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 5x 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f7f7f7;
  margin-bottom: 15px;
}

.password-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 1.2rem;
}

.button {
  padding: 10px;
  background-color: #116169;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  font-weight: bold;
}

.button:hover {
  background-color: #1e7f8b;
  opacity: 0.95;
  transform: scale(1.02);
}

.forgot-password {
  width: 50%;
  border: none;
  background: none;
  text-align: center;
  margin-top: 10px;
  color: #35737d;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
}

.forgot-password:hover {
  text-decoration: underline;
}

.register-box {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-image: url("login-background.jpg");
  background-size: cover; /* Scales the image to cover the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.text-register {
  font-size: 30px;
  font-family: "Playfair Display", Sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

.error-message {
  color: #eb0b0b;
  font: bold;
  font-size: 14px;
}

.login-box .button {
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

.register-box .button {
  width: 50%;
}
