.password-input-container input[type="password"]::-ms-reveal,
.password-input-container input[type="password"]::-ms-clear,
.password-input-container input[type="password"]::-webkit-clear-button,
.password-input-container input[type="password"]::-webkit-reveal-button {
  display: none; /* Ẩn icon mặc định */
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.reset-password-container h2 {
  margin-bottom: 20px;
  color: #35737d;
}

.password-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.reset-password-button {
  padding: 10px 15px;
  background-color: #35737d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-password-button:hover {
  background-color: #285b61;
}

/* Vùng chứa input và icon */
.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Icon "mắt" */
.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
  transition: color 0.3s ease;
}

.password-toggle-icon:hover {
  color: #333;
}
.password-requirement {
  font-size: 14px;
  margin-right: auto;
}
