.verify-otp-container {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 50px; 
    width: 700px; 
    height: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.otp-input {
    padding: 10px;
    font-size: 16px;
    width: 90%;
    max-width: 400px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.otp-input:focus {
    border-color: #35737d; /* Đổi màu viền khi focus */
    outline: none; /* Ẩn đường viền mặc định */
}
.verify-otp-container h2 {
    font-size: 24px;
    color: #35737d;
    text-align: center;
    margin-bottom: 50px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.verify-button, .re-verify-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
  
