AddPromotion.css hoặc EditPromotion.css .form-group {
  margin-bottom: 15px;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  color: blue;
}

.edit-icon:hover {
  color: darkblue;
}

input[type="text"],
input[type="number"] {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}
