.manage-Promotions {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.manage-Promotions h2 {
  font-weight: bold;
  font-size: 42px;
  color: #514f00;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.manage-Promotions .add-discount-button:hover {
  background-color: #1e7f8b;
  transform: translateY(-2px);
}

.manage-Promotions .no-promotions {
  text-align: left;
  margin-top: 20px;
  font-size: 22px;
  color: #000000;
  font-style: italic;
  padding: 15px;
}

.manage-Promotions .add-discount-button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #116169;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.manage-Promotions .discount-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.manage-Promotions .discount-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.manage-Promotions .discount-image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.manage-Promotions .discount-code {
  color: #333;
  margin: 10px 0;
  font-weight: bold;
  transition: text-decoration 0.3s ease;
  font-size: 18px;
}

.manage-Promotions .button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border: none;
}

.manage-Promotions .edit-button,
.delete-button {
  display: block;
  margin: 5px auto;
  padding: 5px 5px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.manage-Promotions .edit-button {
  background-color: #116169;
  color: white;
}

.manage-Promotions .edit-button:hover {
  background-color: #1e7f8b;
  transform: translateY(-2px);
}

.manage-Promotions .delete-button {
  background-color: #f44336;
  color: white;
}

.manage-Promotions .delete-button:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
}
