.manage-Promotions h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #514f00;
  margin-bottom: 50px;
}

.manage-Promotions .back-button {
  position: absolute;
  top: 100px;
  left: 20px;
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.manage-Promotions button:hover {
  background-color: #0f4758; /* Màu nền khi hover */
}

.manage-Promotions .no-promotions {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  padding: 15px;
}

.manage-Promotions .add-discount-button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #0f4758;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.manage-Promotions .add-discount-button:hover {
  background-color: #0f4758;
}

.manage-Promotions .discount-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Khoảng cách giữa các card */
  justify-content: center; /* Căn giữa các card */
}

.manage-Promotions .discount-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
  width: 250px; /* Chiều rộng cố định cho card */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.manage-Promotions .discount-image {
  width: 100%; /* Chiếm toàn bộ chiều rộng của card */
  height: 150px; /* Chiều cao cố định */
  object-fit: cover; /* Giữ tỷ lệ ảnh và cắt phần thừa */
  border-radius: 8px;
  margin-bottom: 10px;
}

.manage-Promotions .button-group {
  display: flex;
  justify-content: space-evenly; /* Căn đều khoảng cách giữa các nút */
  width: 100%;
  margin-top: 10px;
}

.manage-Promotions .edit-button,
.delete-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.manage-Promotions .edit-button {
  background-color: #0f4758;
  color: white;
}

.manage-Promotions .edit-button:hover {
  background-color: #0f4758;
}

.manage-Promotions .delete-button {
  background-color: #f44336;
  color: white;
}

.manage-Promotions .delete-button:hover {
  background-color: #d32f2f;
}
