.manage-Promotions h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #514f00;
  margin-bottom: 50px;
}

.manage-Promotions .add-discount-button:hover {
  background-color: #6b8288;
}

.manage-Promotions .no-promotions {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  padding: 15px;
}

.manage-Promotions .add-discount-button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #0f4758;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.manage-Promotions .discount-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.manage-Promotions .discount-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.manage-Promotions .discount-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.manage-Promotions .discount-title {
  font-size: 1.4rem;
  color: #333;
  margin: 10px 0;
  font-weight: bold;
  transition: text-decoration 0.3s ease;
}

.manage-Promotions .discount-description {
  font-size: 1rem;
  color: #666;
  margin: 0 10px 10px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: text-decoration 0.3s ease;
}

.manage-Promotions .button-group {
  display: flex;
  justify-content: space-evenly; /* Căn đều khoảng cách giữa các nút */
  width: 100%;
  margin-top: 10px;
}

.manage-Promotions .edit-button,
.delete-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.manage-Promotions .edit-button {
  background-color: #0f4758;
  color: white;
}

.manage-Promotions .edit-button:hover {
  background-color: #6b8288;
}

.manage-Promotions .delete-button {
  background-color: #f44336;
  color: white;
}

.manage-Promotions .delete-button:hover {
  background-color: #d32f2f;
}
