[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
pillow = "*"
djangorestframework = "*"
gunicorn = "*"
mysql-connector-python = "*"
pymysql = "*"
dj-database-url = "*"
python-dotenv = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
