[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
