/* Tổng quan */

.about-container {
  font-family: Arial, sans-serif;
}

.about-banner {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-section {
  text-align: center;
  padding: 40px 20px;
}

.gallery-section h1 {
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: #a38900;
  margin-bottom: 20px;
}

.gallery-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.tab {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #a38900;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid #a38900;
  font-weight: bold;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(300px, 1fr)
  ); /* Chia đều cột, mỗi cột tối thiểu 300px */
  gap: 15px; /* Khoảng cách giữa các ảnh nhỏ hơn */
  padding: 30px; /* Thêm khoảng cách với viền ngoài */
  justify-content: center; /* Căn giữa grid */
  /* grid-template-columns: repeat(3, 1fr); */
}

.gallery-thumbnail {
  width: 100%; /* Chiếm toàn bộ chiều rộng cột */
  height: 300px; /* Đặt chiều cao cố định */
  object-fit: cover; /* Giữ tỷ lệ ảnh và cắt phần dư */
  border-radius: 5px; /* Bo góc nhẹ */
  transition: transform 0.3s ease; /* Hiệu ứng phóng to khi hover */
}

.gallery-thumbnail:hover {
  transform: scale(1.05); /* Phóng to ảnh khi hover */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
