.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f3f3f5;
}

.forgot-password-box {
    width: 400px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgot-password-box h2 {
    font-size: 24px;
    color: #35737d;
    text-align: center;
    margin-bottom: 10px;
}

.forgot-password-box label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.forgot-password-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-btn, .login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #35737d;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.reset-btn:hover, .login-btn:hover {
    background-color: #2c5e64;
}

.login-btn {
    margin-top: 20px;
    background-color: #2c5e64;
}
