/* Tổng thể phần Modal */


.password-input-container input[type="password"]::-ms-reveal,
.password-input-container input[type="password"]::-ms-clear, 
.password-input-container input[type="password"]::-webkit-clear-button, 
.password-input-container input[type="password"]::-webkit-reveal-button {
  display: none; /* Ẩn icon mặc định */
}
/* Overlay mờ phía sau modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Làm mờ nền */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Hiển thị modal phía trên cùng */
}

/* Nội dung chính của modal */
.modal {
    background: white;
    width: 400px; /* Độ rộng modal */
    max-width: 90%; /* Đảm bảo vừa với màn hình nhỏ */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Nút đóng modal */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #333;
}

/* Tiêu đề modal */
.modal h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
}

/* Trường form */
.modal form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
}

.modal form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

/* Yêu cầu mật khẩu (hiển thị lỗi hoặc yêu cầu cụ thể) */
.password-requirement {
    font-size: 14px;
    margin-bottom: 10px;
    color: red;
}

/* Nút chính trong modal */
.modal-button {
    background-color: #35737d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #35737d;
    opacity: 0.9;
}

/* Nút "Quên mật khẩu" */
.forgot-password {
    border: none;
    background: none;
    color: #35737d;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0 15px 0;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Container mật khẩu với biểu tượng "mắt" */
.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Biểu tượng "mắt" để hiển thị/ẩn mật khẩu */
.password-toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
    transition: color 0.3s ease;
    top:20%;
}

.password-toggle-icon:hover {
    color: #333;
}

.error-message{
    color:#e70707;
}