.add-food {
  margin-top: 20px;
}
.add-food h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #514f00;
  margin-bottom: 30px;
}

.add-food .back-button {
  position: absolute;
  top: 120px;
  left: 20px;
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Căn giữa và định dạng các trường input */
.add-food .form-group {
  margin-bottom: 15px;
  text-align: center; /* Căn giữa các label và input */
}

.add-food .form-group label {
  font-size: 26px; /* Tăng kích thước chữ label */
  display: block;
  margin-bottom: 5px;
}

.add-food .form-group input,
.add-food select {
  width: 20%; /* Giới hạn chiều rộng của các input */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 auto; /* Căn giữa */
  display: block;
}

.add-food .submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0f4758;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

.submit-button:hover {
  background-color: #7c9197;
}

.back-button:hover {
  background-color: #0f4758;
}

/* Hiển thị lỗi */
.add-food p {
  color: rgb(177, 92, 13);
  text-align: center;
  font-size: 16px;
}

/* Đặt form căn giữa */
.add-food form {
  width: 80%;
  margin: 0 auto;
  text-align: center; /* Căn giữa nội dung của form */
}

/* Tạo khoảng cách giữa các phần tử trong form */
.add-food div.form-group {
  margin-bottom: 20px;
}

.add-food .form-group select {
  width: 10%;
}
