.edit-fooditem {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.edit-fooditem h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #514f00;
  margin-bottom: 30px;
}

.edit-fooditem form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3px;
}

.edit-fooditem .form-group {
  width: 48%;
  margin-bottom: 20px;
}

.edit-fooditem .form-group.description {
  width: 100%;
}

.edit-fooditem .form-group label {
  font-size: 26px;
  display: block;
  margin-bottom: 5px;
}

.edit-fooditem .form-group input,
.edit-fooditem .form-group select,
.edit-fooditem .form-group textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.edit-fooditem .form-group textarea {
  height: 250px;
  resize: vertical;
}
.edit-fooditem .submit-button {
  display: block;
  width: auto;
  margin: 20px auto;
  padding: 10px 16px;
  background-color: #0f4758;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 26px;
}

.edit-fooditem .submit-button:hover {
  background-color: #7c9197;
}

.edit-fooditem p {
  color: rgb(177, 92, 13);
  text-align: center;
  font-size: 16px;
}

.edit-fooditem .current-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-fooditem .preview-image {
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
}
