.manage-menu-container {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10px;
}

.manage-menu-container h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #514f00;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.manage-menu-container h3 {
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}
.manage-menu-container h4 {
  color: #5a0808;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.4em;
  font-size: 20px;
}
.manage-menu-container .add-category-button {
  width: 70%;
  padding: 1rem;
  border-right: 2px solid #ddd;
  color: #ffffff;
  border-radius: 5px;
  font-size: 24px;
}
.manage-menu-container .add-food-button {
  width: 20%;
  padding: 1rem;
  border-right: 2px solid #ddd;
  color: #ffffff;
  border-radius: 5px;
  font-size: 24px;
}

.manage-menu-container button:hover {
  background-color: #1e7f8b;
  transform: translateY(-2px);
}

.manage-menu-container .delete-button:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
}
.manage-menu-container .no-food-message {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  color: #000000;
  font-style: italic;
  padding: 15px;
}

.manage-menu-container .no-menutab-message {
  text-align: left;
  font-size: 22px;
  color: #000000;
  font-style: italic;
}

/* Sidebar Styles */
.manage-menu-container .menu-sidebar {
  width: 20%;
  padding: 1rem;
}

.manage-menu-container .menu-sidebar h3,
.manage-menu-container .menu-sidebar h4 {
  margin-bottom: 1rem;
  color: #333;
}

.manage-menu-container .menu-tab {
  display: block;
  width: 70%;
  margin: 0.5rem 0;
  padding: 10px;
  color: #ffffff;
  background-color: #8f8686;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.manage-menu-container .menu-tab.active {
  background-color: rgb(141, 89, 40);
  color: #ffffff;
}

.manage-menu-container .add-category-button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #116169;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Main Content */
.manage-menu-container .menu-content {
  width: 80%;
  padding: 2rem;
  text-align: center;
}

.manage-menu-container .food-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.manage-menu-container .food-price {
  font-size: 1rem;
  color: #888; /* Màu xám nhạt */
  margin: 0.5rem 0;
  font-weight: bold;
}

.manage-menu-container .food-item-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  width: 200px;
  padding: 5px 5px;
}

.manage-menu-container .food-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.manage-menu-container .food-card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border: none;
}

.manage-menu-container .edit-button,
.manage-menu-container .delete-button {
  padding: 0.3rem 0.6rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.manage-menu-container .edit-button {
  background-color: #116169;
  color: #ffffff;
}

.manage-menu-container .delete-button {
  background-color: #f44336;
  color: #ffffff;
}

.manage-menu-container .add-food-button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #116169;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.manage-menu-container .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.manage-menu-container .modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.manage-menu-container .modal-content input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.manage-menu-container .modal-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.manage-menu-container .modal-content .save-button {
  background-color: #0f4758;
  color: white;
}

.manage-menu-container .modal-content .cancel-button {
  background-color: #f44336;
  color: white;
}

.manage-menu-container .modal-content .save-button:hover,
.manage-menu-container .modal-content .cancel-button:hover {
  transform: translateY(-2px);
}
