.manage-employees {
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: flex;
  font-family: "Times New Roman", Times, serif;
}

.manage-employees .header h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #514f00;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.manage-employees .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.manage-employees .no-employee {
  text-align: left;
  margin-top: 20px;
  font-size: 22px;
  color: #000000;
  font-style: italic;
  padding: 15px;
}

.manage-employees .name_container h2 {
  font-size: 28px;
  color: #1a1a1a;
}

.manage-employees h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.manage-employees .employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.manage-employees .employee-table th,
.manage-employees .employee-table td {
  padding: 12px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.manage-employees .employee-table th {
  background-color: #ffd7d7;
  color: #333;
}

.manage-employees .employee-table td {
  background-color: #ffe5e5;
}

.manage-employees .action-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.manage-employees .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.manage-employees .delete-button {
  background-color: #f44336;
  color: white;
}

.manage-employees .delete-button:hover {
  background-color: #d32f2f;
  transform: translateY(-2px);
}

.manage-employees .manage-employee-button {
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #116169;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.manage-employees .manage-employee-button:hover {
  background-color: #1e7f8b;
  transform: translateY(-2px);
}
