.manage-employees {
  margin: 100px auto 0 auto;
  max-width: 1200px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: flex;
}

.manage-employees .header h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.manage-employees .name_container h2 {
  font-size: 28px;
  color: #1a1a1a;
}

.manage-employees h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.manage-employees .employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.manage-employees .employee-table th,
.manage-employees .employee-table td {
  padding: 12px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.manage-employees .employee-table th {
  background-color: #ffd7d7;
  color: #333;
}

.manage-employees .employee-table td {
  background-color: #ffe5e5;
}

.manage-employees .action-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.manage-employees .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.manage-employees .delete-button {
  color: #f44336; /* Red for delete */
}

.manage-employees .manage-employee-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: #fbd2af;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
