/* src/Style/AdminStyle/AdminLayout.module.css */

.admin-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.admin-dashboard .dashboard-header {
  background-color: #4e6986;
  color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.admin-dashboard .dashboard-header h1:hover {
  color: #d8dde3;
}

.admin-dashboard .header-content h1 {
  margin: 0;
  font-size: 1.5rem;
}

.admin-dashboard .dashboard-container {
  display: flex;
  flex: 1;
}

.admin-dashboard .sidebar {
  font-size: 18px;
  width: 225px;
  background-color: #ffffff;
  color: #35737d;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.admin-dashboard .menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-dashboard .menu-item {
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.admin-dashboard .menu-item:hover {
  opacity: 0.9;
  color: #000000;
}

.admin-dashboard .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #35737d;
}

.admin-dashboard .main-content {
  flex: 1;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}
