.TableManagement-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.header {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.header h2 {
  margin: 0;
  font-weight: bold;
  font-size: 42px;
  color: #514f00;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  justify-content: space-between;
}
.header-controls p {
  font-size: 20px;
  padding: auto;
  margin-top: 20px;
}

.total-tables {
  font-size: 16px;
  color: #333;
}

.add-table-btn {
  padding: 10px 20px;
  font-size: 24px;
  color: #ffffff;
  background-color: #116169;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  font-weight: bold;
}

.add-table-btn:hover {
  background-color: #1e7f8b;
  transform: translateY(-2px);
}

.content {
  width: 100%;
  max-width: 1500px;
  margin-top: 20px;
  text-align: center;
}

.no-tables {
  text-align: left;
  margin-top: 20px;
  font-size: 22px;
  color: #000000;
  font-style: italic;
  padding: 15px;
}

.table-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.table-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 0;
}

.table-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border: none;
}
.table-actions-delete {
  display: block;
  margin: 5px auto;
  padding: 5px 5px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f44336;
}
.table-actions-edit {
  display: block;
  margin: 5px auto;
  padding: 5px 5px;
  background-color: #116169;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.table-actions-edit:hover {
  transform: translateY(-2px);
}

.table-actions-delete:hover {
  transform: translateY(-2px);
}
