.viewsalesreport-container {
    margin: 100px auto 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .viewsalesreport-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
    text-transform: uppercase;
  }
  
  .viewsalesreport-error-message {
    text-align: center;
    color: red;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .viewsalesreport-button-group {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #ddd;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ccc;
  }
  
  .button.selected {
    background-color: #f0ad4e;
    color: #fff;
  }
  
.viewsalesreport-message{
    text-align: center;
    font-size: 20px;
    margin-right: auto;
    color: #333;
}