.viewsalesreport-container {
    margin: 100px auto 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .viewsalesreport-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
    text-transform: uppercase;
  }
  
  .viewsalesreport-error-message {
    text-align: center;
    color: red;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .viewsalesreport-button-group {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #ddd;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ccc;
  }
  
  .button.selected {
    background-color: #f0ad4e;
    color: #fff;
  }
  
.viewsalesreport-message{
    text-align: center;
    font-size: 20px;
    margin-right: auto;
    color: #333;
}

.viewsalesreport-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
.viewsalesreport-navigation {
  display: flex;
  justify-items: center;
  margin-left: auto !important;
  margin: 20px 0;
  font-size: 18px;
}

.viewsalesreport-navigation button {
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.viewsalesreport-navigation button:hover {
  background-color: #3b828d;
}

.viewsalesreport-navigation button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.viewsalesreport-navigation span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 15px;
  text-transform: uppercase;
  margin-top: 5px;
}
