.container{
    composes: container from '../../../Style/bootstrap.min.css';
}

.row{
    composes: row from '../../../Style/bootstrap.min.css';
}

.col-lg-12{
    composes: col-lg-12 from '../../../Style/bootstrap.min.css';
}

.col-lg-2{
    composes: col-lg-2 from '../../../Style/bootstrap.min.css';
}

.yellow{
    background-color: rgba(255, 223, 116, 0.7);
}

.red{
    background-color: rgba(255, 153, 153, 0.7);
}

.blue{
    background-color: rgba(110, 198, 241, 0.7);
}

.green{
    background-color: rgba(144, 238, 144, 0.7);
}

.EER-container{
    font-family: 'Playfair Display', serif;
}

.Table-container{
    margin: 20px;
    padding: 20px;
}

.table-info{
    text-align: center;
}

.body-EER{
    display: grid; 
    grid-template-columns:300px 1fr; 
    height: 100vh;
}

.sidebar-container{
    height: 100%; 
    width: 300px; 
    z-index: 1; 
    top: 0; 
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 20px;
}

.section-title {
    border-bottom:1px solid #ff8243;
}

.section-title h2{
    color: #ff8243;
    font-size: 32px;
    margin-bottom: 10px;
}

.search-row{
    display:flex;
    padding-top: 20px;
}

.search-cus{
    position: relative;
    align-items: center;
}

.input-search-cus{
    width: 100%;
    padding-right: 2.5rem;
    padding-left: 1rem;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.input-search-btn{
    position: absolute;
    right: 0.5rem; /* Position the button slightly from the right edge */
    top: 50%;
    transform: translateY(-50%); /* Vertically center the button */
    background: none; /* Remove default background */
    border: none; /* Remove default border */
    padding: 0.5rem; /* Add padding for aesthetics */
    cursor: pointer; /* Make the button clickable */
}

.status-search-row{
    margin-top:20px;
}

.status-search{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.status-search ul{
    list-style: none;
    display: flex;
    gap: 15px; /* Giảm khoảng cách giữa các mục menu */
    margin: 0;
    padding: 0;
}

.status-search-btn{
    padding: 10px 20px;
    border: none;
    background-color: #f4f4f4; /* light gray for non-active tabs */
    color: #333;
    cursor: pointer;
    border-radius: 30px; /* rounded buttons */
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.status-search-btn.active{
    background-color: #ff8243; /* distinct color */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.reservation-info{
    margin-top: 20px;
    box-sizing: border-box;
    border:2px solid rgb(204 204 204 / 80%);
}

.reservation-info h5{
    text-align: center;
    border-bottom: 2px solid rgb(204 204 204 / 80%);
    padding: 10px 0px;
}

.reservation-info p{
    padding:0px 10px;
    margin-bottom: 10px;
}
.input-table-text{
    display: inline-block;
}

.input-table-btn{
    display: inline-block;
    justify-content: flex-end;
}


.table-info{
    cursor: pointer;
}

.table-info-ctn{
    margin-top: 40px;
}

.table-info-ctn p{
    margin-bottom: 0px;
}

