.container{
    composes: container from '../../../Style/bootstrap.min.css';
}

.row{
    composes: row from '../../../Style/bootstrap.min.css';
}

.col-lg-12{
    composes: col-lg-12 from '../../../Style/bootstrap.min.css';
}

.col-lg-6{
    composes: col-lg-6 from '../../../Style/bootstrap.min.css';
}

.col-lg-4{
    composes: col-lg-4 from '../../../Style/bootstrap.min.css';
}

.col-lg-9{
  composes: col-lg-9 from '../../../Style/bootstrap.min.css';
}


.col-lg-3{
  composes: col-lg-3 from '../../../Style/bootstrap.min.css';
}

.close-ctn{
  display: flex;
  justify-content: end;
  align-items: center;
  height:30px;
}

.close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease;
}

.close-modal:hover {
  color: #333;
}

.search-row{
  display:flex;
  padding-top: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

.search-menuitem{
  position: relative;
  align-items: center;
}

.input-search-menuitem {
  width: 100%;
  padding-right: 2.5rem;
  padding-left: 1rem;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

.input-search-btn{
  position: absolute;
  right: 0.5rem; /* Position the button slightly from the right edge */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the button */
  background: none; /* Remove default background */
  border: none; /* Remove default border */
  padding: 0.5rem; /* Add padding for aesthetics */
  cursor: pointer; /* Make the button clickable */
}

.search-price{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.input-price input{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px; 
  flex:1;
  width:100%;
}

.search-tab{
  height: 100%;
  
}

.search-tab select{
  width: 100%;
  padding: 4px 0px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px; 
  flex:1;
}

.ctn{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Hiển thị modal phía trên cùng */
}

.invoice-ctn{
    width: 100%;
    height: 750px;
    padding: 10px 20px;
    background-color: white;
    overflow: auto;
    margin: 0px 20px;
    border-radius: 30px;
}

.invoice-info-ctn{
    border-right: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 5fr 2fr 1fr;
    padding-right:20px;
    height: 650px;
}

.invoice-info-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.invoice-info-title h2{
  margin-bottom: 0px;
}

.error-message{
  color: red; 
  font-weight: bold; 
  font-size: 16px; 
  margin-top: 8px; 
  border-left: 4px solid red; 
  padding-left: 8px;
}

.erase-btn{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 30px;
  outline: 0;
  padding: 6px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.3s ease;

}

.erase-btn:hover,
.erase-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.erase-btn:active {
  opacity: .5;
}

.edit-btn{
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 30px;
  outline: 0;
  padding: 6px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.edit-btn:hover{
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.total-money-ctn{
    justify-content: end;
    font-size: 18px;
    padding:5px
}

.width-50{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.money-format{
  display: flex;
  justify-content: space-between;
}

.money-format p{
  align-items: end;
}

.final_price{
  margin-top: 15px;
  border-top: 5px double #b2b2b3;
}

.ordered-food-ctn{
}

.table-food{
  width: 100%;
  margin:20px auto 30px auto;
  padding-right: 16px;
  height: 170px;
  overflow-y: auto;
}

.table-food::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn ngang */
  background: transparent; /* Nền trong suốt */
}

.my-row ul {
  margin:0;
  padding:0px;
}
.my-row ul li  {
  margin:0;
  font-size: 18px;
  list-style:none;
  display:inline-block;
  box-sizing:border-box;
  overflow: hidden;
  padding-right: 10px;
  vertical-align: top; /* Căn lề trên */
  text-align: left; /* Căn lề trái */
}

.my-food-col-1{
  width:35% ;
}

.my-food-col-2{
  width:15%;
}

.my-food-col-3{
  width: 25%;
}

.my-food-col-4{
  width:25%;
}

.my-row{
  border-bottom: 1px solid black;
}

.my-title-row{
  background-color:#a3c6cb;
  position: sticky;
  top:0;
  z-index: 1;
  font-weight: bold;
}

.my-content-row {
  max-height:30px;
  position:relative;
  overflow:hidden;
  transition: max-height 0.15s ease-out;
}
.my-content-row:hover {
  max-height:200px;
  transition: max-height 0.25s ease-in;
}

.new-height{
  max-height:200px;
  transition: max-height 0.25s ease-in;
}

.more-content{
  margin: 10px 0px;
  display: grid;
  grid-template-areas:
    "title note"
    "button button";
  grid-template-columns: auto 4fr;
  grid-template-rows: auto auto;
  gap:10px;
}

.mc-title{
  font-size: 18px;
  grid-area: title;
}

.mc-note {
  font-size: 18px;
  grid-area: note;  
}

.mc-note input{
  width: 100%;
  height: 100px;
}

.my-btn{
  grid-area: button;
  display: flex;
  justify-content: end;
  gap:10px;
  width: 100%;
}

.change-quantity{
  transition: color 0.3s ease;
  cursor: pointer;
}

.quantity-input-ctn{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 27px;
}

.quantity-input{
  width: 100%;
  height: 100%;
  box-sizing: border-box !important;
  padding:0px;
  margin:0px;
}

.change-quantity:hover{
  color:cornflowerblue;
}

.confirm-button {
  width: 50px;
  height: 100%;
  padding: 0px 5px;
  background-color: white; /* Màu xanh lá */
  color: #4caf50;
  border: 2px solid #39923c;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding:0px;
  box-sizing: border-box;
}

.confirm-button:hover {
  background-color: white; /* Màu xanh đậm hơn khi hover */
}

.change-status{
  transition: color 0.3s ease;
  cursor: pointer;
}

.change-status:hover{
  color:cornflowerblue;
}

.total-money-ctn{
    display: flex;
}

.btn-ctn{
  margin-top: 20px;
    display: flex;
    gap:50px;
    justify-content: center;
}

.btn-ctn button{
  padding:6px;
  height: 40px;
}

.menu-title{
}

.menu-info-ctn{
  height: 100%;
}

.menu-info-ctn .row{
  max-width: 100%;
}

.menu-list{
  overflow-y: auto;
  max-height: 500px;
}

.menu-item{
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}

.menu-item img{
  width: 120px;
  height: 120px;
  margin-top: 40px;
  margin-bottom: 10px;
  box-shadow: 15px 15px 30px #d4d4d4;
  border-radius: 50%;
  overflow: hidden;
}

.menu-item h3{
  font-size: 20px;
  padding: 0 10px;
  text-transform: capitalize;
  color: #0d0d25;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 900;
}

.menu-item p{
  border-top: 2px solid rgb(204 204 204 / 40%);
  font-size: 18px;
  padding: 0 30px;;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #0d0d25;
  font-weight: 750;
}

.menu-item button{
  font-size: 15px;  
  background: #f3f3f5;
  box-shadow: 5px 5px 9px #b2b2b3, -5px -5px 9px #ffffff;
  display: inline-flex;
  justify-content: center;
  border-radius: 20px;
  color: #0d0d25;
  text-transform: capitalize;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  position: relative;
  padding: 6px 30px;
  transition: all 0.3s ease;
}

.menu-item button:hover{
  border-color: #0d0d25;
  box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
  color: #ff8243;
}

.header-error-ctn{
  height: 20px;
}
  
.error-ctn{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20px;
  margin-top:10px;
}

.error-ctn .error{
  color: red;
}

.promotion-table{
  width: 100%;
  margin:20px auto 20px auto;
  padding-right: 16px;
  height: 80px;
  overflow-y: auto;
}

.my-col-1{
  width: 20%;
}

.my-col-2{
  width: 55%;
}

.my-col-3{
  width: 25%;
}

.my-col-4{
  width: 18%;
}

.my-col-5{
  width: 25%;
}